/* Style the navigation bar */
* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 100%;
  /* background-color: #ffffff00; */
  overflow: auto;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
  /* padding: 10px; */
  /* margin-right: 10px; */
}

/* Navbar links */
.navbar a {
  display: block;
  float: left;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 150%;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}
.navbar .closebtn {
  position: absolute;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    /* display: block; */
    font-size: 18px;
  }
  .navbar {
    /* for side navbar uncomment this */
    height: 100%;
    /* 100% Full-height */
    width: 22%;
    /* 0  width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 2px;
    background-color: #ffffff00;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 60px; */
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 15px;
  }
}
body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

canvas {
  height: 100%;
  width: 100%;
  /* color: #4caf50; */
}
span {
  position: fixed;
  /* display: none; */
  color: white;
  float: right;
  display: none;
}
