/* Style the navigation bar */
* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 100%;
  background-color: #ffffff00;
  overflow: auto;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
}

/* Navbar links */
.navbar a {
  display: block;
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 150%;

  /*  */
  /* padding: 8px 8px 8px 32px; */
  /* text-decoration: none; */
  /* font-size: 25px; */
  /* color: #818181; */
  /* display: block; */
  /* transition: 0.3s; */
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}
.navbar .closebtn {
  position: absolute;
  /* top: 0; */
  /* right: 5px; */
  /* font-size: 40px; */
  /* margin-left: 50px; */
}

/* media queries started */
/* @media screen and (max-height: 500px) { */
/* .navbar { */
/* } */
/* .navbar a { */
/* } */
/* } */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    display: block;
    font-size: 18px;
  }
  .navbar {
    /* for side navbar uncommet this */
    height: 100%;
    /* 100% Full-height */
    width: 15%;
    /* 0  width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #ffffff00;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 60px; */
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 15px;
  }
}
body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

canvas {
  height: 100%;
  width: 100%;
  /* color: #4caf50; */
}
span {
  position: fixed;
  /* display: none; */
  color: white;
  float: right;
  display: none;
}
