/* Style the navigation bar */
* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  width: 100%;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  /* display: block; */
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4caf50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
body {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.top-section {
  /* width: 1540mm; */
  height: 88vh;
  /* position: absolute;
  height: 100%;
  width: 100%; */
}
.mid-section {
  height: 100vh;
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
}

.top-section > svg {
  display: block;
  width: 40vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.top-section > img {
  display: block;
  width: 25vw;
  height: 25vh;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}
canvas {
  height: 100%;
  width: 100%;
  /* color: #4caf50; */
}
